/* https://markdotto.com/2018/02/07/github-system-fonts/ */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "et-book", -apple-system, "San Francisco", "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue", "Lucida Grand", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    color: #cccbcb;
    font-size: 16px;
    line-height: 1.6;
    background-color: #181f25;
}
p {
    margin: 1.25em 0;
    color: #d9d9d9;
}

em, i {
    font-style: italic;
}
strong, b {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 1.5em 0 1em 0;
    line-height: 1em;
    color: #adafca;
}
h1 {
    font-size: 1.625em;
}
h2 {
    font-size: 1.375em;
}
h3 {
    font-size: 1.125em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.875em;
}
h6 {
    font-size: 0.75em;
}
h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 2.5em;
}
a {
    color: #FB2576;
    transition: color 0.1s ease;
    border-bottom-style: groove;
}
a:hover {
    color: #B3005E;
}

li {
    color: #f5f5fa;
}
ol li {
    list-style: decimal;
    margin-left: 1.25em;
    margin-bottom: 0.2em;
}
ul li {
    list-style: disc;
    margin-left: 1.25em;
    margin-bottom: 0.2em;
}
hr {
    margin: 2em 0;
    border: 0;
    border-top: 2px dotted #aaa;
}
pre, code {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    border-radius: 8px;
}
code {
    font-size: 0.9em;
    padding: 0.25em 0.5em;
}
pre code {
    background: #252535;
    display: block;
    margin: 1em 0;
    padding: 0.75em 1em;
    color: inherit;
    overflow: auto;
}
img, video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
a > img:hover {
    opacity: 0.75;
    transition: 0.25s;
}
figure {
    width: 100%;
    margin: 2em 0;
    text-align: center;
}
figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #666;
}
figcaption p {
    margin: 0;
}
blockquote {
    padding-left: 1.25em;
    padding-right: 1.5em;
    border-left: 0.25em solid #eee;
    color: #666;
}
/* Main index page about me section*/
.main-about {
    border: 5px solid #cccbcb;
    border-radius: 1em;
    padding: 1.5em;
    background-color: #181e22;
}

/* About me section ends*/

table {
    table-layout: fixed;
    width: 100%;
    background-color: #131212;
    margin-bottom: 1em;
    padding:  0.25em 0.5em;
    border: 1px solid black;
    text-align: center;
}
tbody tr:nth-child(odd) {
    background-color: #18122B;
}

tbody tr:nth-child(even) {
    background-color: #282A3A;
}
td, th {
    vertical-align: middle;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ede6e6;
}
th {
    font-weight: bold;
}
tbody tr:nth-child(2n+1) td, tbody tr:nth-child(2n+1) th {
    background-color: #191825;
}
sup, sub {
    font-size: 0.8em;
}
sup {
    vertical-align: super;
}
main {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}
header h2 {
    margin: 1em;
}
header h2 a {
    text-decoration: none;
    border: none;
    color: #e7e7f1 !important;
}
header h2 a:hover {
    color: #d1cdcd !important;
}
header h2 a:active {
    color: #ecece9 !important;
}
.combined-title-pagination {
    margin-top: 2.5em;
}
.combined-title-pagination h1 {
    display: inline;
}
.combined-title-pagination h1 a {
    text-decoration: none;
    border: none;
}
.combined-title-pagination h3 {
    display: inline;
    margin-left: 0.2em;
}
.title-group {
    margin-bottom: 1.5em;
}
.title-group .date h5 {
    color: #e0e0e0;
    margin: 0;
}

/* Footer Section starts*/
.footer{
    margin-top: 5em;
    background-color: #1B2430;
    text-align:center;
    border-top: 1px solid #444;
    color: #d9d9d9;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color: #d9d9d9;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color: #d9d9d9;
    transition:0.5s;
}

.footer .row a:hover{
    color:#fff;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}

@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }
}



/* Main Page Post Box's*/
.post-list {
    padding: 0 1em 1em 1em;
    border: 1px solid #cccbcb;
    border-radius: 1em;
    margin: 2em 0 0 0;
    background-color: rgb(24, 30, 34);
}
.post-list h1 a {
    color: #adafca;
    text-decoration: none;
    border: none;
}
.post-list h1 a:hover {
    color: #eaeaf5;
}

           /* Button */
.button {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #FB2576;
    border-radius: 5px;
    text-decoration: none;
    color: #FB2576;
    font-weight: bold;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.button:hover {
    color: #f5f5fa;
    background-color: #B3005E;
}
.button {
    margin-top: 1.2em;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
}
.social-icon img {
    width: 40px;
}

.next-page {
    float: right;
}
              /*Buttons End */


.title-group .date h5 {
    color: #adafca;
    margin: 0;
    font-weight: bold;
}
.post {
    padding: 1.25em;
    border: 1em;
    border-radius: 1em;
    background-color: rgb(24, 30, 34);
}
.post h1{
    color: #f5f5fa;
    text-align: center;
}

/* Post Content Page Tag List Section*/
.tags{
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    background-color: #1B2430;
    border-radius: 5px;
    padding: 3px 6px;
}
.tags .button{
    margin: 0.7em;
    padding: 3px 5px;
    border-radius: 15px;
}
.tags h5 {
    margin-top: 0;
}

/*Tag List Section End*/

.paginator {
    margin: 2em 0;
}
.paginator .disabled {
    color: #aaa;
}
.paginator .newer {
    float: right;
    clear: both;
}
.current-page {
    color: #aaa;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    background-color: #1B2430;
    border-radius: 15px;
    height: 50px; /* Adjust the height as needed */
}



nav .menu {
    display: flex;
    align-items: center;
}

nav .menu a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 1rem;
}

nav .menu a:hover {
    color: #FB2576;
}

@media screen and (max-width: 900px) {
    nav .menu {
        display: none;
    }

    nav .mobile-menu {
        display: block;
        cursor: pointer;
    }

    nav.responsive .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1B2430;
    }

    nav.responsive .menu a {
        margin: 0.5rem auto;
    }
}




/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
