<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css" />

{{- partial "head.html" . -}}
<body>
	<header>
		{{- partial "header.html" . -}}
	</header>
	<main>
		<div class="container">
			<h2>Ups There is Nothing Found.</h2>
			<h2> Please Return The <a href="/" class="button">Main Page.</a></h2>
		</div>
	</main>
	<footer>
		{{- partial "footer.html" . -}}
	</footer>
</body>
</html>
