{{ define "main" }}
    {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ .Scratch.Set "pagenumber" .Paginator.PageNumber }}
    {{ if eq .Paginator.PageNumber 1 }}
        {{- partial "about.html" . -}}
    {{ else }}
        <h3 class="inline current-page">Page {{.Paginator.PageNumber}}</h3>
    {{ end }}
    <hr>

    {{- partial "listcontent.html" . -}}

    {{ range .Paginator.Pages }}
    {{ end }}
    {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="button">Previous Page</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="button next-page">Next Page</a>
    {{ end }}

    {{ partial "analytics.html" . }}
{{ end }}

