<!DOCTYPE html>
<meta name="description" content="{{ .Description }}" >
<meta lang="{{ .Language }}">
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    <header>
      {{- partial "header.html" . -}}
    </header>
    <main>
      {{- block "main" . }}{{- end }}
    </main>
    <footer>
      {{- partial "footer.html" . -}}
    </footer>
  </body>
</html>
