{{ define "main" }}
    <div class="post">
        <div class="title-group">
            <div class="title">
                <h1>{{ .Title }}</h1>
            </div>
            <div class="date"><h5>{{ .Params.date.Format "Jan 02, 2006" }} - {{ .ReadingTime }} min read</h5></div>
        </div>
        <article class="content">
            {{ .Content }}
        </article>
            <div class="tags">
                    {{ $taxonomy := "tags" }}
                    {{ with .GetTerms $taxonomy }}
                    <h5>{{ (site.GetPage $taxonomy).LinkTitle }}:</h5>
                        {{ range . }}
                        <a class="button" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                        {{ end }}
                    {{ end }}
            </div>
    </div>
{{ end }}
