<div class="main-about">
  <p>
    {{ .Site.Params.about | .RenderString }}
  </p>
  <div class="social-icon">
      <a class="social-icon" href="https://social-media.link" target="_blank" aria-label="Linkedin page">
        <img src="icons/linkedin.svg" alt="linkedin icon">
      </a>
      <a class="social-icon" href="https://social-media.link" target="_blank" aria-label="gitlab page">
        <img src="icons/gitlab.svg" alt="gitlab icon">
      </a>
      <a class="social-icon" href="https://social-media.link" target="_blank" aria-label="github page">
        <img src="icons/github.svg" alt="github icon">
      </a>
  </div>

</div>
