<footer>
    <div class="footer">
        <div class="row">
            <ul>
                <li><a href="/tags">Tags</a></li>
                <li><a href="/post">Posts</a></li>
                <!-- <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li> -->
            </ul>
        </div>
        <div class="row">
            Copyright © 2024 All rights reserved
        </div>
    </div>
</footer>

