<h2>
<!-- Navbar code -->
<nav>
  {{ if and (.IsHome) (not (.Scratch.Get "pagenumber")) }}
     {{ .Site.Title }}
  {{ else }}
    <a href="{{ .Site.BaseURL }}"> {{ .Site.Title }}</a>
  {{ end }}
  {{ range .Site.Menus.main -}}
    <a href="{{ .URL }}" aria-label="Navbar Items">{{ .Name }}</a>
  {{ end }}
</nav>
</h2>
