<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>{{ if ne .Title .Site.Title }}{{ .Title }} · {{ end }}{{ .Site.Title }}</title>

<!-- CSS section -->
{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "css/style.css" | resources.ToCSS $options  }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{- if isset .Site.Params "customcss" }}
    {{ range .Site.Params.customCSS }}
    {{ $customstyle := resources.Get . | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $customstyle.Permalink }}">
    {{ end }}
{{- end -}}

<!-- Favicon section -->
{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . }}">
{{ end }}

<!-- Alternative Output -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
