{{ range .Paginator.Pages }}
<article class="post-list">
    <div class="title-group">
        <div class="title">
            <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        </div>
        {{ if eq .Type "post" }}
        <div>
            <div class="date"><h5>{{ .Params.date.Format "Jan 02, 2006" }}</h5></div>
        </div>
        {{ end }}
    </div>

    <div class="content">
        {{ .Description }}
    </div>
    <div>
        <a class="button" href="{{ .RelPermalink }}" aria-label="Read More About Post">Read More About Post.</a>
    </div>
</article>
{{ end }}
